<mjml>
  <mj-body>
    <mj-section>
      <mj-column>
        <mj-text mj-class="greeting">
          Hey {{firstname}},
        </mj-text>
      </mj-column>
    </mj-section>
    <mj-section>
      <mj-column>
        <mj-text>
          We wanted to inform you that you were invited to the team "{{teamname}}". Please join by clicking the link below.
        </mj-text>
      </mj-column>
    </mj-section>
    <mj-section>
      <mj-column>
        <mj-button href="{{link}}" align="left" mj-class="action-button">
          Join team
        </mj-button>
      </mj-column>
    </mj-section>
    <mj-section>
      <mj-column>
      	<mj-text mj-class="">
          Best regards, <br/>The Genecruncher team
        </mj-text>
      </mj-column>
    </mj-section>
  </mj-body>
</mjml>
