# for scarches
scanpy~=1.9.1
scArches~=0.5.2
scvi-tools==0.16.1
numpy~=1.21.6
gdown~=4.4.0
torch~=1.11.0
jaxlib==0.3.7
leidenalg==0.8.9
scikit-misc==0.1.4
protobuf==3.19.4
pymde==0.1.15

# for the api
Flask==2.1.1
uWSGI==2.0.20
gunicorn==20.1.0

# for s3
boto3==1.22.1