<mjml>
  <mj-body>
    <mj-section>
      <mj-column>
        <mj-text mj-class="greeting">
          Hey {{firstname}},
        </mj-text>
      </mj-column>
    </mj-section>
    <mj-section>
      <mj-column>
        <mj-text>
          We wanted to let you know that your GeneCruncher password was reset.
        </mj-text>
      </mj-column>
    </mj-section>
    <mj-section>
    	<mj-column>
        <mj-text>
          If you did not perform this action, you can recover access by entering {{email}} into the <a href="https://www.genecruncher.com/password_reset" style="text-decoration: underline;">form</a>.</p>
        </mj-text>
      </mj-column>
    </mj-section>
    <mj-section>
      <mj-column>
      	<mj-text mj-class="">
          Thanks, <br/>The Genecruncher team
        </mj-text>
      </mj-column>
    </mj-section>
  </mj-body>
</mjml>
