<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
<table align="center" border="0" cellpadding="0" cellspacing="0" width="600">
    <tr>
        <td>
            <table align="center" border="0" cellpadding="0" cellspacing="0" width="600">
                <tr>
                    <td align="center" width="25%"><h2 style="font-weight: 600;font-family: arial;background-color:rgb(1, 87, 155);color:white;padding:20pt;">Your password was reset</h2></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="border: 1px solid #cccccc; padding: 30px; color: #28285b; font-family: sans-serif;">
            <p>
            <h3>Hey {{firstname}},</h3>
            <h5>We wanted to let you know that your GeneCruncher password was reset.</h5>
            </p>
            <p>
            <h5>If you did not perform this action, you can recover access by entering {{email}} into the form at <a href='https://www.genecruncher.com/password_reset'>https://www.genecruncher.com/password_reset</a></h5>
            <h5>Thanks,</h5>
            <h5>The GeneCruncher Team</h5>
            </p>
        </td>
    </tr>
    <tr>
        <td>Copyright TUM 2021</td>
    </tr>
</table>
</body>

</html>
