.container {
    background-color: #7DD181; 
    border-radius: 16px; 
    padding: 8px 16px; 
    color: white;
    margin: 0px 4px;
    position: relative;
}

.cancelIcon {
    color: #FF5F58;
    position: absolute;
    z-index: 2;
    top: 0px;
    right: 0px;
}
