.content {
    padding-top: 16px;
}

.cardSpacing {
    margin-bottom: 16px;
}

.container {
    text-align: center;
    justify-content: center;
}

.test {
    padding: 10px 60px 0px 140px;
}

.imageText{
    text-align: center;
}

.imageText span{
    color:white;
    border-radius: 25px;
    background: #002644;
    padding: 10px;
    margin: 10px;
}

.background {
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
}

.institutionIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}