
.container {
    text-align: center;
    justify-content: center;
    padding-top: 200px;
}

.illustration{
    object-fit: contain;
    height: 650px;
}

.textContainer {
    display: flex;
    justify-content: center
}