.visualizationContainer{
    transform: scale(0.7, 0.7);
    -ms-transform: scale(0.7, 0.7); /* IE 9 */
    -webkit-transform: scale(0.7, 0.7); /* Safari and Chrome */
    -o-transform: scale(0.7, 0.7); /* Opera */
    -moz-transform: scale(0.7, 0.7); /* Firefox */
    padding-top: 10px;
}
