.flexContainer{
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: rgba(0, 60, 255, 0.05);
    border-radius: 0px 0px 10px 10px;
}

.listTitle > h1 {
    font-size: medium;
}
