.appbar{
    display: flex;
    /* font-family: Nunito; */
    /* justify-content : space-between; */
}
.logo {
    fill: white;
    stroke: white;
}

ul{
    display: flex;
    list-style:none;
    align-items: center;
}

.navbarcontent{
    text-decoration: none;
    font-size: 1.2rem ;
    color: white;
    margin-left: 3rem;

}
