*{
    font-family:'poppins';   
}

.fileUpload {
    flex-basis: 100%;
    position: relative;
    height: 100%;
}

.fileQueue {
    flex-basis: 100%;
    position: relative;
    height: 100%;
}

.title h1 {
    font-size: 30px;
    color: #003560;
    padding-left: 30px;
}