.container{
    text-align: center;
    justify-content: center;
}

.backgroundImage{
    z-index: 1;
    width: 100%;
    height: 90vh;
    margin-top: 80px;
    object-fit: cover;
    filter: brightness(75%);
}

.call2Action{
    left:0;
    right:0;
    z-index: 2;
    margin-top: 200px;
    position: absolute;
    padding-inline: 400px;
}

.infoContainer{
   padding-inline: 80px;
   padding-block: 30px;
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
}

.explanation{
    padding: 50px;
    width: 40%
}

.illustration{
    padding: 50px;
    width: 40%;
}

.illustrationTitle{
    padding-bottom: 30px;
}

.tumLogo {
    height: 70px;
}

.rostlabLogo {
    width: 230px;
}




